name: Cache CI

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-b6bcc33

      - name: prime-cache-b6bcc33
        run: |
          if [ "${{ steps.cache.outputs.cache-hit }}" = "true" ]; then
            echo "Cache HIT"
          else
            echo "Cache MISS"
            mkdir -p ~/.cache/demo
            echo "cached data" > ~/.cache/demo/data.txt
          fi

